@font-face {
  font-family: 'GOST 2.304-81 type A'; 
  src: url('fonts/GOST 2.304-81 type A.ttf'); 
}
@media print {
  /* *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  /* div:first-line, 
  blockquote:first-line,
  li:first-line {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
  } */
  /* здесь будут стили для печати */
    header, .main-table, footer {
    display: none !important;

  }
  .a4_div {
    page-break-after: always !important;
    break-after: always !important;
    page-break-inside: avoid;
    float: none !important; 
    border: none !important;
  } 

  .сipher_table td{
    font-size: 12pt;
  }

  .сipher_table tr:nth-child(1) td:nth-child(7){
    font-size: 24pt;
  }

  .square_checked {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  @page {
    size: auto;  
    margin: 0;  
  }
/* h6 {
  -webkit-display: none;
}	 */
}
/* @media print and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
h6 {
  -webkit-display: none;
} 
} */
h6 {
height: 1px;
}

* {	margin: 0;
padding: 0;
box-sizing: border-box;

font-family: 'GOST 2.304-81 type A', sans-serif;
color: black; 
}

.container {
width: 210mm;
margin: auto;
/* background: url('/img/0001.jpg'); */
}
header,
footer {
padding: 15px 0;
background: #48D1CC;
color:  white;
}
/* КНОПКИ */
.btn {
width: 100%;
height: 30px;
background: #008B8B;
color: white;
border: none;
border-radius: 5px;
margin: 5px 0;
font-size: 21px;;
}
.btn:last-child{
margin: 20px 0;
}
.btn:hover, .input-btn:hover {
background:	#008C33;
border: #0b6603 solid 2px;
}
/*Div с верхней таблицой */
.main-table {
background: #AFEEEE;
font-size: 21px;
}
/*Легенды*/
legend{
padding-top: 5px;
}
/*ТАБЛИЦЫ, общие свойства*/
table {
border-collapse: collapse;
}
td, th {
border: 0.25mm solid #000;
}
tbody tr:nth-child(2n-1) {
background: #e3f8ea;
}
tr:nth-child(2n), thead {
background: #fff;
}
/*ТАБЛИЦА ИНФОРМАЦИИ*/
.info_table {
width: 100%;
}
.info_table td, .info_table th {
border: 2px solid #008B8B;
}
.info_table td:nth-child(1),  .info_table td:nth-child(2){
padding-left: 5px;
}
.info_table td:last-child{
text-align: center;
}
.info_table th:first-child {
width: 40mm;
}
.info_table th:last-child {
width: 15mm;
}
.info_table .last_td {
font-weight: 800;
background: #AFEEEE;
border: none;
text-align: right;
padding-right: 5px;
}
/*КОНТЕЙНЕРЫ ДЛЯ ОПРОСНЫХ*/
.order_container {
background: #48D1CC;
}
.a4_div:nth-child(4n-2){
background: #d0ecec;
}
.a4_div:nth-child(4n){
background: #c1e6c1;
}
.a4_div {
height: 296.5mm;
display: block;
border: 1px solid black;
position: relative;
}
.a4_div_frame {
font-size: 11.5pt;
height: 287mm;
width: 185mm;
left: 20mm;
bottom: 5mm;
border: 0.6mm solid black;
position: absolute;	
display: block; /*del*/
}
/*ОПИСАТЕЛЬНАЯ ТАБЛИЦА ОПРОСНОГО*/
.legend_table {
width: 50%;
text-align: center;
margin-left: 180px;
}
.descript_table {
margin-left: 80px;
width: 140mm;
}
.descript_table td {
padding: 1px 0 1px 5px;
}
/*ТАБЛИЦА-ОПРОСНЫЙ*/
.order_table {
width: 100%;
margin-top: 10px;
}
.order_table td:nth-child(1) {
width: 15mm;
text-align: center;
border-left: none;
}
/* .order_table td:last-child{

} */
.order_table td:nth-child(2) {
width: 70mm;
text-align: left;
padding-left: 5px;
}
.order_table td:nth-child(3) {
text-align: left;
padding-left: 5px;
border-right: none;
}
.order_table tr:nth-child(1) td {
text-align: center;
height: 30px;
padding: 0;
}
.square {
width: 12px;
height: 12px;
border: 1px solid #000;
float: left;
margin-top: 2px;
margin-right: 5px;
margin-bottom: 1px;
}
.square:last-child {
margin-bottom: 2px;
}
.square_checked {
background: #000;
}

/*свойства для опросника, где нужно в одну строку квадратики вписать*/
.inline_block {
display: inline-block;
width: 50%;
}
/*Примечание после опросного*/
.note{
padding: 5px;
}
/*РАМКА-ШИФР*/
.сipher_table {
  width: 100%;
position: absolute;
bottom: 0;
text-align: center;
}
.сipher_table td{
  line-height: 0.95;
  font-size: 12pt;;
background: #fff;
border-right: #000 solid 0.6mm;
border-left: #000 solid 0.6mm;	
}
.сipher_table tr:nth-child(5) td:nth-child(4),
.сipher_table tr:nth-child(5) td:nth-child(2){
letter-spacing: -0.5px;
/* font-size: 14px;	 */
}
.сipher_table td:nth-child(n+7){
border: #000 solid 0.6mm;	
}
.сipher_table tr:first-child td,
.сipher_table tr:nth-child(5) td,
.сipher_table tr:nth-child(9) td:nth-child(n+5){
border-top: #000 solid 0.6mm;	
}
.сipher_table tr:nth-child(5) td,
.сipher_table tr:nth-child(6) td:nth-child(6){
border-bottom: #000 solid 0.6mm;	
}
.сipher_table td:first-child {
border-left: none;
}
.сipher_table td:last-child {
border-right: none;
}
.сipher_table tr:last-child td,
.сipher_table tr:nth-child(9) td:nth-child(n+4){
border-bottom: none;	
}
.сipher_table tr:nth-child(n+6) td:nth-child(1), 
.сipher_table tr:nth-child(n+6) td:nth-child(2), 
.сipher_table tr:nth-child(n+6) td:nth-child(3) {
text-align: left;
padding-left: 2px;
}
.сipher_table tr:first-child td:nth-child(1), 
.сipher_table tr:first-child td:nth-child(2), 
.сipher_table tr:first-child td:nth-child(3), 
.сipher_table tr:first-child td:nth-child(4),
.сipher_table tr:first-child td:nth-child(6) {
width: 10mm;
}
.сipher_table tr:first-child td:nth-child(5) {
width: 15mm;
}
.сipher_table tr:nth-child(6) td:nth-child(5) {
width: 70mm;
}
.сipher_table tr:nth-child(6) td:nth-child(6),
.сipher_table tr:nth-child(6) td:nth-child(7) {
width: 15mm;
}
.сipher_table tr:nth-child(1) td:nth-child(7){
font-size: 24pt;
}
.сipher_table tr td:first-child{
height: 5mm;
}
.p_besp{
display: inline-block;
/*margin-bottom: 10px;*/
}
.logo_besp{
display: inline-block;
margin: 0px 0 -12px 7px;	
}
/*ПРЯЧЕМ ФОРМУ ВНЕСЕНИЯ СЧЕТЧИКОВ И АВТОМАТОВ ПОСЛЕ ЕЕ ЗАПОЛНЕНИЯ*/
.hide_counters_n_breakers_container {
  display: none;
}

/*ПОКАЗЫВАЕМ*/
.hide_info_table_wrapper {
  display: none;
}
.show_info_table_wrapper {
display: block;
}
.footer_show {
display: block;	
}
footer {
display: none;
}

/*ФОРМА ВВОДА СЧЕТЧИКОВ И ВЫКЛЮЧАТЕЛЕЙ*/
.counters_n_breakers_container {
background: #AFEEEE;
font-size: 21px;
min-height: 823px;
}
.counters_n_breakers_container input {
font-size: 21px;	
}
/*нумерация листов*/
.input_page{
/* background: #48D1CC; */
border: #008B8B solid 2px;
border-radius: 5px;	
padding-left: 40px;
}
.input_page p {
  display: inline-block;
}
/*СЧЕТЧИКИ*/
.counters_wrapper{
background: #AFEEEE;
border: #008B8B solid 2px;
border-radius: 5px;	
padding-left: 40px;

}
.input_page p,
.counters_wrapper p{
padding-top: 15px;
}
.counters_wrapper .counter_note {
padding: 0;
font-size: 16px;
color: #0b6603;
}
.counters_wrapper .counter_note:last-child {
padding-bottom: 5px;
}
.counters_n_breakers_container #counter-1f,
.counters_n_breakers_container #counter-3f {
width: 91%;
}
.input_page #input_page
/*, .counters_n_breakers_container #counter-3f*/
{
margin-bottom: 13px;
}

/*ВЫКЛЮЧАТЕЛИ*/
.breaker_div_radio,
.breaker_div {
border: #008B8B solid 2px;
border-radius: 5px;
padding-left: 40px;		
}
.breaker_div_radio{
padding-bottom: 10px;
}
.breaker_div_radio:nth-child(2n-1){
  background: #5fe67c;
}
.breaker_div_radio:nth-child(2n){
background: #4ff9aa;
}
.breaker_div:nth-child(2n-1){
background: #48D1CC;
}
.breaker_div:nth-child(2n){
background: #AFEEEE;
}
.breaker_div_radio .breaker_p,
.breaker_div .breaker_p{
text-align: center;
padding: 15px 0 2px 0;	
margin-left: -40px;
}

.breaker_div .input-p{
padding: 8px 0 2px 0;	
}
.breaker_div_radio label{
padding: 3px 0 0 10px;
}

.breaker_div input:last-child{
margin-bottom: 12px;
}


/*формат (А4)*/
.format_div{
bottom: 1px;
  right: 92px;
  position: absolute;
}

/*БОКОВАЯ ЧАСТЬ РАМКИ*/
.aside_frame {
/*transform: rotate(-90.0deg); */
position: absolute;
bottom: -0.5mm;
left: -13mm;
}
.aside_frame span{
  transform: rotate(-90.0deg);
  white-space: nowrap;
  vertical-align: middle;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.aside_frame td{
text-align: center;
border: 0.6mm solid black;
font-size: 12pt;
transform: rotate(-90.0deg);

}
.aside_frame tr:nth-child(2n+1) td{
height: 25.3mm;
}
.aside_frame tr:nth-child(2) td{
height: 35.6mm;
}
.aside_frame td:first-child{
width: 5mm;
}
.aside_frame td:last-child{
width: 7mm;
border-right: none;
} 

/*ввод № страницы*/
#input_page{
text-align: center;
}
.signature{
  max-width: 65px;
  max-height: 33px;
  bottom: -5px;
  position: absolute;
}
.signature_boss {
  max-width: 65px;
  max-height: 33px;
  bottom: 15px;
  position: absolute;
}
.signature_boss2 {
  max-width: 65px;
  max-height: 33px;
  bottom: 33px;
  position: absolute;
}