<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<!-- <link rel="stylesheet" href="css/style_scheme_order.css"> -->
	<title>Схемы к ведомостям работ</title>
</head>

<body>
	<header>
		<div class="container">
			<form action="index.html">
				<button type="submit" class="btn">НА ГЛАВНУЮ</button>
			</form>
		</div>
	</header>
	<main>
		<div class="container">
			<h2>Руководство пользователя</h2>
			<h3>Правила внесения данных в "блок-выноску" на плане расстановки ЩУЭ</h3>
			<p>Щитки на плане должны быть обозначены согласно следующим правилам:</p>
			<ul>
				<li>Все буквы должны быть написаны <b>кирилицей</b>, в т.ч. А, К, В...</li>
				<li>Не имеет значения регистр</li>
				<li>Название щитка должно быть вида: ЩУЭ-1-1-1-1<b>-У1</b> (не забывать -У1).</li>
				<li>
					<ul>
						Тип отходящих линий (кабельная или воздушная) помечать следующим образом:
						<li>Если ЩУЭ имеет <b>только воздушные</b> отходящие, то <b>ничего</b> не указываеть или указать
							<b>В</b>.</li>
						<li>Если ЩУЭ на <u>1 СЭ</u>: <b>К</b> для кабельной.</li>
						<li>Если ЩУЭ на <u>2 СЭ 1ф или 2 СЭ 3ф</u>: <b>КК</b> для двух кабельных; <b>КВ или ВК или К</b>
							для
							кабельной+воздушной.</li>
						<li>Если ЩУЭ на <u>1 СЭ 3ф + 1 СЭ 1ф</u>: <b>КК</b> для двух кабельных; <b>1фК</b> для 1ф - каб,
							3ф
							- возд; <b>3фК</b> для 3ф - каб, 1ф -
							возд.</li>
					</ul>
				</li>
				<li>
					Если ЩУЭ на 2 СЭ, Iном АВ писать в специальных <b>отдельных</b> полях атрибутах:
					<div><img src="img/help_2_breakers.JPG" alt="не загрузилась картинка:("></div>
				</li>
				<li>
					<b>Если ЩУЭ на 3ф + 1ф:, сначала указывать Iном АВ 3ф, затем Iном АВ 1ф.</b>
					<div><img src="img/help_3f_1n_1f.JPG" alt="не загрузилась картинка:("></div>
				</li>
				<li>Если ЩУЭ на опору, и тип опоры не указан, то считается как СВ-95.</li>
				<li>При установке щитка на опоре, тип опоры писать так: СВ-110, СВ-95, СТ-108.7... (не сокращать до
					110...).</li>
				<li>Примеры корректно заполненной выноски:</li>
				<div><img src="img/help_vinoska.JPG" alt="не загрузилась картинка:("></div>
			</ul>
			<h3>Правила по извлечению данных</h3>
			<ul>
				<li>При извлечении данных нужно убрать столбец "имя" (снять галочку с поля "Показать столбец
					наименований"):
					<div><img src="img/help_izvechenie.JPG" alt="не загрузилась картинка:("></div>
				</li>
				<li>Извлеките данные в файл формата .csv</li>
				<li>Пример правильно заполненного извлечения:
					<div><img src="img/help_data-table.JPG" alt="не загрузилась картинка:("></div>
					Количество полей - 6. Соответственно, количество запятых в каждой строке - 5. Ошибка о длине массива
					говорит о не верном количестве полей.
					Изменние названия полей в блоке выноске приведет к ошибке (например "опора" вместо "ТИП_ОПОРЫ").
				</li>
			</ul>
			<h3>Правила по вводу данных на главной странице</h3>
			<ul>
				<li>Скопируйте данные из файла .csv выделив первый столбец:
					<div><img src="img/help_videlenie.JPG" alt="не загрузилась картинка:("></div>
					не забудьте выделить первую строку!
				</li>
				<li>Вставьте данные в программу</li>
			</ul>
		</div>
	</main>
</body>

</html>