<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap" rel="stylesheet">
	<!-- <link rel="stylesheet" href="css/style_scopeOfWork.css"> -->
	<title>Ведомости работ</title>
</head>

<body>
	<header>
		<div class="container">
			<form action="index.html">
				<button type="submit" class="btn">НА ГЛАВНУЮ</button>
			</form>
		</div>
	</header>
	<div class="main-table">
		<div class="container">
			<div id="info_table_wrapper" class="info_table_wrapper">
				<legend>Перечень ЩУЭ</legend>
				<table id="info_table" class="info_table">
					<thead>
						<tr>
							<th>Тип ЩУЭ</th>
							<th>Описание</th>
							<th>Кол-во</th>
						</tr>
					</thead>
					<tbody class="info_table_body">
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="counters_n_breakers_container" id="counters_n_breakers_container">
		<div class="container">
			<form name="counters-input" method="post" action="#" id="counters-input">
				<!-- <div class="input_page">
					<p>Введите № начальной страницы:</p>			
					<input type="text" size="3" id="input_page" name="input_page">
				</div> -->
				<div class="works_table">
					<p>Объемы работ для различных ЩУЭ можно посмотреть перейдя  <a href="works_table.html" target="_blank">по ссылке</a> (откроется в новом окне)</p>
				</div>
				<!-- <div class="brakers_wrapper" id="brakers_wrapper">
				</div> -->
				<!-- <input type="submit" value="Получить ведомости работ" class="btn" id="get-scope-of-work"> -->
			</form>
		</div>
	</div>
	
	<div class="order_container">
		<div class="container">
			<div class="order_sheet" id='order_sheet'>
			</div>
		</div>
	</div>
	<!-- <footer id="footer">
			<div class="container">
			  <form action="sсheme_order_sheet.html">
				<button type="submit" class="btn">Перейти к схемам</button>
			  </form>
			</div>
	</footer> -->
	<!-- <script src="js/script_scopeOfWork.js"></script> -->
</body>
</html>